<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pyscore</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>pyscore 成績查詢</h1>

    <form method="POST">
        <input type="text" name="user_id" placeholder="Enter your ID" required>
        <button type="submit">查詢</button>
    </form>

    {% if user_score %}
        <h2>Your Score:</h2>
        <p>{{ user_score }}</p>
    {% endif %}
</body>
</html>